* {
    margin: 0;
    box-sizing: border-box;
}
.logo{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #f1f1d4;
   
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    height: 62px;  
}

h1 {
    color: #6b8242;
    font-weight: 900;
    font-family: "Noto Sans", sans-serif ;
    font-size: 36px;
    margin: 0%;
}

#login-join {
    display: flex;
    gap: 10px; 
}
#connect{
    width: 208px;
    height: 24px;
    display: flex;
    flex-direction: row;
    margin-top: 19px;
}

#social-icons {
    display: flex;
    gap: 10px; 
}

#social-icons img {
    width: 24px;
    height: 24px;
}

#loginbutton  {
    display: flex;
    width: 62px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #778A50;
    padding: 4px 8px 4px 8px;
    margin-left: 11px;
    margin-right: 14px;
    align-items: center;
    font-family: "Noto Sans", sans-serif ;
}
#joinbutton  {
    display: flex;
    width: 49px;
    height: 27px;
    border-radius:3px;
    border: 1px solid #778A50;
    padding: 4px 8px 4px 8px;
    align-items: center;
    font-family: "Noto Sans", sans-serif ;
}
header div p{
    margin: 0%;
    color: #778A50;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif ;
    font-weight: 700;
}
#ig{
    margin-left: 12px;
    margin-right: 12px;
}
#line{
    border-left: 1px solid #778A50;
    width: 0px;
    height: 24px;
}
.Head{
    background-color: #778A50;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 0%;
    margin-top: 8px;
    margin-bottom: 16px;
    height: 44px;
}
.Head p{
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif ;
    padding: 10px 30px 10px 30px;
}

.PUM {
    width: 1%;
    height: 448px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}
h2{
    color: #EDF2C5;
    background-color: #778A50;
    border-radius: 3px;
    height: 45px;
    padding: 10px 30px;
    margin-top: 0%;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif ;
    line-height: 150%;
}
#vegetables-section img{
    width : 165px;
    height: 140px;
    
}
#vegetables-section{
    height: 140px;
    display: flex;
    justify-content: space-between;
}
#line2{
    border-top: 1px solid #7D7D7D;
    height: 0px;
    width: 496px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p{
    color: #7D7D7D;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif ;
    line-height: 150%;
    margin: 0%;
}

#contact-section{
    height: 140px;
    padding: 16px;
    background-color: #F7FBDA;
}
.content div{
    width: 528px;
    height:201px;
}

footer{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #778A50;
    align-items: center;
    justify-content: center;
}

footer p {
    color:#EDF2C5;
    font-size: 12px;
}
article{
    margin-bottom: 117px;
}